.msec1{
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url('/images/msec1.jpg');
}

.msec2{
    padding: 0 8%;
}

.msec2 .item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15% 0;
    width: 100%;
}

.msec2 .item .dish-img img{
    width: 35vw;
    border-radius: 30px;
    box-shadow: 30px 30px 30px rgb(182, 182, 182);
}

.msec2 .item .dish-content{
    width: 40vw;
}

.msec2 .dish-content h2{
    font-family: var(--heading);
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 40px;
}

.msec2 .dish-content img{
    width: 200px;
    margin-bottom: 10px;
}

.msec2 .dish-content .item-price{
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin: 40px 0;
}

.msec2 .dish-content .item-price div:nth-child(2){
    margin-left: 50px;
}

.msec2 .dish-content .item-price h3{
    font-family: var(--title);
    font-size: 27px;
    font-weight: 600;
    margin-bottom: 10px;
}

.msec2 .dish-content .item-price p{
    font-size: 15px;
}

.msec3{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 8%;
    padding-bottom: 3%;
}

.msec3 h1{
    font-family: var(--heading);
    font-size: 45px;
    font-weight: 500;
    margin-bottom: 50px;
}

.msec3 .cheap-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.msec3 .cheap-menu-box{
    width: 40vw;
    min-width: 300px;
    background: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url('/images/pasta-msec3.jpeg');
    background-position: center;
    background-size: cover;
    border-radius: 25px;
    padding: 2% 4%;
    color: white;
}

.msec3 .cheap-item{
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(134, 134, 134);
    padding: 15px 20px;

}
.msec3 .cheap-item img{
    width: 80px;
    height: 80px;
    margin-right: 30px;
}

.msec3 .cheap-item h3{
    font-family: var(--title);
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 10px;
}

.msec3 .cheap-item p{
    font-size: 14px;
    color: rgba(206, 206, 206);
}

.msec3 .cheap-item:last-child{
    border: none;
}

